PORT=3000
MONGO_URI='mongodb+srv://<user>:<password>@cluster0.k9f38.mongodb.net/?retryWrites=true&w=ma
jority'
JWT_SECRET='mimamamemima'
MONGO_USER='userName'
MONGO_PASSWORD='databasePassword'
MONGO_DATABASE='databaseName'